:root {
  /* ### Primary */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* ### Neutral */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* Fonts */
  --font1: 'DM Serif Display', serif;
  --font2: 'Karla', sans-serif;

  /* Padding */
  --padding-container: 80px 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font2);
}

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--padding-container);
}

.hero {
  background-color: var(--dark-violet);
  color: #fff;
  --padding-container: 0;
  position: relative;
  z-index: 0;
}

.hero::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-image: url('./images/bg-pattern-intro-left-mobile.svg');
  background-size: contain;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
}

.hero::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-image: url('./images/bg-pattern-intro-right-mobile.svg');
  background-size: contain;
  bottom: -25%;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
}

.nav {
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.nav__container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: none;
}

.nav__logo,
.nav__icon {
  display: block;
}

.hero__main {
  width: 100%;
}

.hero__main::before {
  content: '';
  display: block;
  width: 100%;
  height: 370px;
  background-image: url('./images/image-intro-mobile.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero__texts {
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.title {
  font-size: 2.7rem;
  font-family: var(--font1);
  font-weight: 400;
}

.hero__paragraph {
  line-height: 1.5;
  margin-top: 1em;
}

.cta {
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding: 0.8em 2.2em;
  display: inline-block;
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      var(--dark-violet) 75%,
      #fff 75%
    );
    position: relative;
    z-index: 1;
  }

  .hero::before {
    content: '';
    background-image: url('./images/bg-pattern-intro-left-desktop.svg');
    width: 50%;
    height: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    bottom: -10%;
  }

  .hero::after {
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    background-size: contain;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .nav__links {
    display: flex;
    gap: 2em;
  }

  .nav__link {
    text-decoration: none;
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.8em 0;
  }

  .nav__link--cta {
    color: var(--dark-violet);
    border: 2px solid;
    padding: 0.8em 2em;
  }

  .nav__hamburger {
    display: none;
  }

  .hero__main {
    --padding-container: 100px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .hero__main::before {
    width: 48%;
    height: 530px;
    background-image: url('./images/image-intro-desktop.jpg');
    order: 1;
  }

  .hero__texts {
    width: 49%;
    margin: 0;
    padding: 20px 0 0;
    text-align: left;
    position: relative;
  }

  .hero__texts::before {
    content: '';
    width: 120px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .title {
    font-size: 3rem;
  }
}

.features {
  text-align: center;
}

.title--features {
  position: relative;
  padding-top: 30px;
}

.title--features::before {
  content: '';
  display: block;
  background-color: var(--dark-grayish-violet);
  width: 120px;
  height: 1px;
  margin: 0 auto;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
}

.features__items {
  margin-top: 3.5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.features__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

.features__title {
  font-family: var(--font1);
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.features__paragraph {
  margin-top: 1em;
  line-height: 1.5;
  color: var(--dark-grayish-violet);
}

@media (min-width: 768px) {
  .features {
    text-align: left;
  }

  .title--features {
    position: relative;
    padding-top: 30px;
  }

  .title--features::before {
    margin: 0;
  }

  .features__items {
    margin-top: 3.5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .features__item {
    flex: 1;
  }

  .features__icon {
    margin-left: 0;
  }

  .features__title {
    font-size: 1.2rem;
  }
}

.find {
  padding: 80px 0;
  --padding-container: 60px 30px;
}

.find__container {
  color: #fff;
  background-color: var(--dark-violet);
  text-align: center;
  position: relative;
  z-index: 1;
}

.find__container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (min-width: 768px) {
  .find {
    --padding-container: 60px;
  }

  .find__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .find__container::before {
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
    right: -10%;
  }

  .title--find {
    width: 60%;
    text-align: left;
  }
}

.footer {
  background-color: var(--very-light-gray);
}

.footer__container {
  position: relative;
  z-index: 1;
}

.footer__container::before {
  content: '';
  position: absolute;
  top: -5%;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 2.5em;
  margin-bottom: 2.5em;
  border-bottom: 1px solid var(--dark-grayish-violet);
}

.footer__logo {
  display: block;
}

.footer__media {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.footer__social {
  text-decoration: none;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.footer__title {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--dark-grayish-violet);
  margin-bottom: 1em;
}

.footer__link {
  text-decoration: none;
  color: var(--dark-violet);
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer {
    position: relative;
    z-index: 1;
  }

  .footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 75%;
    background-image: url('./images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    left: -10%;
    z-index: -1;
  }

  .footer__container::before {
    display: none;
  }

  .footer__brand {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__nav {
    width: 20%;
    align-items: flex-start;
  }
}
