* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* auto: da el espacio minimo para que el track exista segun su contenido y luego reparte el contenido de manera equitativa si hay espacio sobrante*/
  /* fr: reparte el contenido de manera equitativa sin importar el contenido */

  grid-template-rows: repeat(4, 25%);

  /* stretch | start | center | end */
  /* align-items: stretch; */

  /* row | column */
  /* grid-auto-flow: row; */

  width: 90%;
  max-width: 600px;
  margin: 80px auto;
  overflow: hidden;
  outline: 3px solid;
  height: 500px;
}

.item {
  height: auto;
  color: #fff;
  font-size: 2.5rem;
  /* display: inline-block; */
}

.item-1 {
  background-color: slateblue;
}

.item-2 {
  background-color: darkmagenta;
}

.item-3 {
  background-color: tomato;
}

.item-4 {
  background-color: midnightblue;
}

.item-5 {
  background-color: seagreen;
}

.item-6 {
  background-color: crimson;
}
