:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --font1: 'Alata', sans-serif;

  --font2: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}
